* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Baloo 2", cursive;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fbabb3;
}

a {
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 1200px) {
    #hero-section {
        height: 100vh;
        position: relative;
    }
    .hero-container {
        width: 100%;
        height: 100vh;
        padding-top: 10vh;
        display: flex;
    }
    .hero-grey-section {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        box-shadow: 0 -10px 30px 2px rgba(0, 0, 0, 0.1);
        background-color: #fbfbfb;
        border-bottom-left-radius: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .food-container {
        width: 100%;
        height: 80%;
        margin-top: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .food-container header {
        display: grid;
        width: 100%;
        margin-top: 15px;
        margin-left: 100px;
        grid-template-columns: repeat(6, 1fr);
        justify-content: space-evenly;
        margin-right: 100px;
        align-items: center;
    }
    .food-container img {
        width: 60%;
        margin-top: 100px;
        margin-right: -25%;
        justify-self: center;
    }
    .header-item {
        padding-left: 40px;
        line-height: 1;
    }
    .header-text {
        font-size: 2.5rem;
        width: fit-content;
        font-weight: 800;
        margin-top: 50px;
        margin-left: 50px;
    }
    .header-item h1 {
        font-weight: 800;
        font-size: 1.5rem;
    }
    .header-item h4 {
        font-weight: 800;
        font-size: 2rem;
    }
    .whitebox {
        width: 100%;
        height: 100%;
        margin-left: 100px;
        margin-right: 100px;
        background-color: #f8f9fe;
    }
    .whitebox-right-section {
        width: 100%;
        height: 100%;
    }
    .whitebox-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        overflow: hidden;
        height: 100%;
        margin-top: -50px;
    }
    .item-left {
        width: 100%;
        padding-right: 25%;
        padding-left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .whitebox-right-section h1 {
        width: fit-content;
        font-weight: 800;
    }
    .whitebox-right-section p {
        font-weight: 400;
        font-size: 2rem;
        width: fit-content;
        margin-top: 30px;
        color: #343a40;
        line-height: 1.3;
    }
    .big-text {
        width: 100%;
        font-weight: 800;
        font-size: 5rem;
        line-height: 1;
    }
    .center-text {
        text-align: center;
    }
    .btn-track-order {
        background: #000002;
        width: fit-content;
        display: inline;
        padding: 10px 20px;
        color: white;
        border-radius: 25px;
        font-weight: 600;
        font-size: 1.2rem;
        margin-top: 25px;
        transition: all 0.3s ease;
    }
    .btn-track-order:hover {
        background: #cc0041;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    }
    .section2 {
        height: 100vh;
        position: relative;
    }
    .find-food {
        height: 100vh;
        display: grid;
        margin-left: 100px;
        background-color: #fbfbfb;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }
    .image-holder {
        display: flex;
        z-index: 2;
        align-items: center;
        justify-content: center;
    }
    .find-food img {
        width: 70%;
        border-radius: 10%;
        margin-bottom: 100px;
    }
    .shop-div {
        width: 100%;
        height: 100%;
        display: flex;
        padding-left: 15%;
        padding-right: 15%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .item-description {
        width: 100%;
        margin-top: 4rem;
        font-size: 2rem;
    }
    .shop-grey-section {
        width: 50%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 5px 30px 30px rgba(0, 0, 0, 0.05);
        margin-left: 100px;
        background-color: #f8f9fe;
        border-bottom-right-radius: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .border-bottom {
        width: 100%;
        height: 10vh;
        background-color: #fbabb3;
    }
}